    * {
    box-sizing: border-box;
    }
    body{
    margin: 0;
    }
   ::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #E3F4F4; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1B6B93; 
  }

.nav {
    height: 50px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #E3F4F4;
    position: sticky;
}

.nav > .nav-header {
    display: inline;
}

.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 20px;
    color: br;
    padding: 5px 5px 5px 5px;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
    font-family: 'Inconsolata', monospace;
}

.nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    margin-top: 2px;
    text-decoration: none;
    color: #3F2305; 
}

.nav > .nav-links > a:hover {
    background-color: #1B6B93;
}

.nav > #nav-check {
    display: none;
}

@media (max-width:600px) {
   .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
}
.nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
}
.nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
}
.nav > .nav-btn > label > span {
   display: block;
   width: 25px;
   height: 10px;
   border-top: 2px solid #151515;
}
.nav > .nav-links {
   position: absolute;
   display: block;
   width: 100%;
   background-color: #E3F4F4;
   height: 0px;
   transition: all 0.3s ease-in;
   overflow-y: hidden;
   top: 50px;
   left: 0px;
}
.nav > .nav-links > a {
   display: block;
   width: 100%;
}
.nav > #nav-check:not(:checked) ~ .nav-links {
   height: 0px;
}
.nav > #nav-check:checked ~ .nav-links {
   height: calc(100vh - 50px);
   overflow-y: auto;
}
}
       

     #Home {
        background-image: url(https://thumbs.gfycat.com/DefiniteImmenseHalicore-size_restricted.gif);
        background-size: cover;
        height: 350px;
        display: flex;
        align-items: center;
        font-family: 'Inconsolata', monospace;
        font-size: 1.5vw;
        color: #E3F4F4;
        & button {
            background-color: transparent;
            border: 2px solid rgb(215, 215, 215);
            border-radius: 4px;
        }

        
    }

    .flex {
        display: flex;
        justify-content: center;
        & div{
            width: 25%;
        }
        & img {
            width: 100%;
            float: right;
        }
    }


    main {
        color: #3F2305;
        width: 75%;
        margin: 0 auto;
    }
    h2 {
        text-align: center;
        font-family: 'Inconsolata', monospace;
    }


    #Projects {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .stripe {
        background-image: linear-gradient(45deg, #1B6B93 28.57%, #E3F4F4 28.57%, #E3F4F4 50%, #1B6B93 50%, #1B6B93 78.57%, #E3F4F4 78.57%, #E3F4F4 100%);
        background-size: 9.9px 9.9px;
        border: inset;
        padding: 3px;
    }

    h3 {
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

    #Skills{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #Contactme {
        display: flex;
        justify-content: space-around;
        font-size: 40px;
    }

    footer {
        color: #3F2305;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    figure {
    border: 2px #1B6B93 solid;
    padding: px;    
  }
  
  figcaption {
    background-color: #E3F4F4;
    color: #3F2305;
    font-size: 1.5vw;
    font-family: 'Inconsolata', monospace;
    padding: 2px;
    text-align: center;
  }


    /* .container {
        position: relative;
        width: 100%;
      }

    .overlay {
        position: absolute; 
        bottom: 0; 
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1; 
        width: 100%;
        transition: .5s ease;
        opacity:0;
        color: white;
        font-size: 20px;
        padding: 20px;
        text-align: center;
      }

      .container:hover .overlay {
        opacity: 1;
      } */